*{
    user-select: none;
}

.buy-button{
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
}

.button-text{
    font-size: 22px;
    color: black;
    user-select: none;
}

.value-text{
    font-size: 25px;
    color: #c4c4c4;
    margin-left: 20px;
    margin-right: 20px;
}

.row-container{
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.font-options {
    font-family: 'Chakra Petch', 'Coming Soon', 'ComicCon', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header-container{
    height: 70px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
}

.logo-img{
    /*width:1000px;*/
    width: 500px;
}

.logo-vert-spacer {
    height:225px;
}

.header-logo-img {
    width: 100px;
}

.header-logo{
    height: auto;
}

.header-social-img{
    height: 36px;
    width: 36px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 32px;
 }

.menu-text{
    font-size: 18px;
    color: white;
    margin-right: 32px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    display:flex;
    align-items:center;
    font-family: 'Chakra Petch', 'Coming Soon', 'ComicCon', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.menu-text:hover{
    color: #c4c4c4;
}

.menu-container {
    display: flex;
}

.menu-icon{
    display: none;
    height: 60px;
    cursor: pointer;
    width: 60px;
}

.bottom-border {
    border-bottom: 5px solid black;
}

.home-social-container{
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.home-container{
    height: auto;
    /*background-image: url("https://images.squarespace-cdn.com/content/v1/616d0df99d00504eedaca23b/72c3dd76-6879-41e4-86c9-79b96f799d02/grassy_plains.png");*/
    /* style={{ backgroundImage: `url(${bgimage})` }}*/
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-logo{
    height: auto;
}

.overlay{
    background-color:rgba(0, 0, 0, 0.25); /* was .11 */
    height: 100%;
    width: 100%;
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-logo{
    height: 65px;
    /* cursor: pointer; */
}

.split-container{
    /*height: 70%;
    width: 80%;
    margin-top: 30px;*/
    display: flex;
}

.text-1-of-2-container{
    width: 70%;
    height: auto;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #ffffffa8;
    border-radius: 48px;
}

.image-1-of-2-container {
    width: 30%;
    min-width: 350px;
    height: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sample-img {
    height: auto;
    width: 350px;
    background-color:grey;
    border-radius:24px;
    object-fit: contain;
    border: 5px solid black;
}


.storyimage-1-of-2-container {
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.story-img {
    height: auto;
    padding-left: 30px;
    width: 350px;
    object-fit: contain;
}


.connect-button, .mint-button, .market-button {
    height: 60px;
    width: 240px;
    margin-top: 16px;
    font-size: 26px;
    font-weight: 900;
    /*background-color: #37e273;*/
    background-color: #fff362;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    /*font-family: 'ComicCon';*/
    font-family: 'Chakra Petch', 'Coming Soon', 'ComicCon', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.connect-button:hover, .mint-button:hover, .market-button:hover {
    /*background-color: #3cff81;*/
    background-color: #ffec00;
}

.connect-button:active, .mint-button:active, .market-button:active {
    /*background-color: #3cff81;*/
    background-color: #e9d807;
}

.connect-error-msg {
    margin:12px;
}

.not-on-whitelist {
    text-align: center;
}

.wallet-desc {
    padding-top:12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.wallet-info-truncated {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mint-feedback {
    padding: 16px 0;
}

.mint-details-container {
    display: flex;
    align-items: center;
  justify-content: center;
}

.spacer-horiz-mint-details {
    width: 200px;
}

.mint-quantity-container {
    margin: 12px 0;
    padding: 12px;
    border: 1px solid black;
    border-radius: 12px;
    /*background-color: #cfff9b;*/
    /*background-color: #a8cfff;*/
}

.mint-quantity-bar {
    display:flex;
}

.inc-button, .dec-button {
    padding: 10px;
    border-radius: 100%;
    border: none;
    /*background-color: #ebc908;*/
    background-color: #fff362;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.inc-button {
    justify-content: center;
}


.inc-button:hover, .dec-button:hover {
    background-color: #ffd900;
}

.inc-button:active, .dec-button:active {
    background-color: #ffbd02;
}

.mint-quantity-counter {
    text-align:center;
    color: #1a1a1a;
    font-size: 18px;
    font-weight:bold;
}

.home-title {
    font-size: 40px;
    /*text-transform: uppercase;*/
    text-align: center;
    margin-bottom: 16px;
    /*font-family: 'ComicCon';*/
    font-family: 'Chakra Petch', 'Coming Soon', 'ComicCon', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.home-desc {
    font-size: 20px;
    margin-top: 15px;
    line-height: 30px;
    /*font-family: 'ComicCon';*/
    font-family: 'Chakra Petch', 'Coming Soon','ComicCon', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: justify;
}

.home-desc-num {
    font-size: 40px;
    margin-top: 15px;
    line-height: 30px;
    margin-top: 22px;
    margin-bottom: 12px;
    /*font-family: 'ComicCon';*/
    font-family: 'Chakra Petch', 'Coming Soon', 'ComicCon', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.mint-total-cost {
    padding-left: 16px;
    margin-top: 0px;
}

.about-container{
    height: auto;
    background-color: #f7eee9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    padding-top: 70px;
    
}

.about-img{
    height: auto;
    width: 80%;
}

.split-container{
    /*height: 70%;
    width: 80%;
    margin-top: 30px;*/
    display: flex;
}

.about-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.description {
    color: black;
    font-size: 22px;
    text-align: justify;
}

.spacer-horiz-medium {
    width:36px;
}

.spacer-horiz-XLarge {
    width:72px;
}

.home-left-spacer {
    width:10%;
}

.home-right-spacer {
    width:10%;
}

.spacerXSmall {
    height:8px;
    width: 8px;
}

.spacerSmall {
    height:16px;
    width: 16px;
}

.spacerMedium {
    height:24px;
    width: 24px;
}

.spacerLarge {
    height:32px;
    width: 32px;
}

.about-center-discr{
    color: #c4c4c4;
    font-size: 22px;
    margin-top: 15px;
    line-height: 30px;
    font-weight: 300;   
    
}

.road-container{
    /*height: 80vh;*/
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
    
}

.roadmap-container{
    width: 60%;
}

.roadmap-section {
    padding: 24px;
    border-bottom: 1px solid black;
}

.roadmap-section.last-section {
    border-bottom: none;
}

.roadmap-section-title {
    font-size: 24px;
}

.roadmap-section-data {
    font-size: 20px;
}

.road-card-discr{
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
       
}

.road-card{
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.road-card-title{
    font-size: 22px;
    color: black;
    padding-bottom: 20px;
    text-align: center;
}

.partners-container {
    display: flex;
    justify-content: space-around;
    background-color: #f7eee9;
}

.roadmap-container .partners-container {
    margin-top: 48px;
}

.story-container .partners-container {
    width: 60%;
}

.partner-logo-wrapper {
    width: 100%;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;

}
  
.partner-card {
    width: 300px;
    margin: 0 10px;
    text-align: center;
    background-repeat: none;
}

.roadmap-timeline {
    padding-bottom: 24px;
}

.vertical-timeline {
    padding: 2em 0 !important;
}

.vertical-timeline-element-date {
    top: -6px !important;
    font-size: 1.5rem !important;
}

.roadmap-timeline:before {
    background: black !important;
    width: 3px !important;
}

.roadmap-timeline .vertical-timeline-element-icon img {
    width: 60px !important;
    height: 60px !important;
}

.roadmap-timeline .vertical-timeline-element--work .vertical-timeline-element-icon {
    background: black !important;
    color: black !important;
}




.story-parent-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.story-title {
    text-align: center;
}

.story-left-spacer {
    width:5%;
}

.story-left-container {
    width: 45%;
}

.story-container{
    height: auto;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
}

.story-contents-container {
    height: 100%;
    padding: 30px 30px 0 0;
    align-items: center;
    justify-content: center;
}

.faq-container {
    /* height: 80vh; */
    height: auto;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
}

.faq-box{
    width: 60%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    padding-top:10px ;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #f7eee9;
}

.answer-box{
    height: auto;
    background-color: #f7eee9;
    width: 60%;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    padding-bottom: 10px;
}

.faq-title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.faq-question{
    font-size: 20px;
    font-weight: 700;
}

.faq-answer{
    font-size: 19px;
    font-weight: 500;
}

.card-container{
    max-height: auto;
    width: 350px;
    background-color: #f7eee9;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    border: 4px solid lightgreen;
    margin-left: 10px;
    margin-right: 10px;
}

.perk-container{
    min-height: auto;
    /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #f7eee9;
    padding-top: 70px;
}

.perk-card-container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 70%;
    justify-content: space-between;
    margin-top: 50px;
    
}

.card-title {
    font-size: 35px;
    font-weight: 700;
    color: #c4c4c4;
    padding-bottom: 15px;
}

.card-list-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.card-list{
    margin-top: 6px;
    font-size: 18px;
    color: #c4c4c4;
    text-align: left;
    font-weight: 500;
}

.team-container{
    height: auto;
    background-color: #f7eee9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 70px;
}


.team-card-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 50px;
}

.team-card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    padding: 0 17px;
}

.team-img{
    width:100%;
    height:auto;
    object-fit: contain;
    border-radius: 24px;
}

.team-name{
    font-size: 32px;
    margin-top: 32px;
    /*text-transform: uppercase;*/
}

.team-desc {
    font-size: 16px;
    margin-top: 10px;
    font-weight:400;
}

.footer-container{
    height: 20vh;
    background-color: #f7eee9;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.foot-copyright {
    width:50%;
    padding-left: 24px;
}

.foot-social-container{
    width: 50%;
    justify-content: flex-end;
    display: flex;
}

.foot-social-img{
   height: 36px;
   width: 36px;
   border-radius: 16px;
   margin-right:32px;
   cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .menu-container {
        display: none;
    }

    .menu-icon{
        display: flex;
    }

    .logo-vert-spacer {
        height:1px;
    }

    .home-left-spacer {
        width:1%;
    }
    
    .home-right-spacer {
        width:1%;
    }

    .mobile-menu{
        position: fixed;
        /*background-color: #92b700;*/
        background-color: #909090fc;
        width: 70%;
        height: 100%;
        z-index: 150;
        right: 0;
        padding-top: 50px;
        text-align: center;
    }

    .close-icon{
        position: absolute;
        right: 10px;
        top: 10px;
        width:50px;
        height:50px;
        cursor: pointer;
    }

    .menu-text{
        margin-top: 50px;
        color: black;
        text-align: center;
        display: block;
        font-size: 24px;
    }

    .menu-text:hover{
        color: #515151;
    }

    .home-container{
        height: auto;
        /*background-image: url("https://images.squarespace-cdn.com/content/v1/616d0df99d00504eedaca23b/72c3dd76-6879-41e4-86c9-79b96f799d02/grassy_plains.png");*/
        /*background-repeat: no-repeat;*/
        background-size: cover; 
        padding-top: 70px;
    }

    .logo-img{
        width:100%;
    }

    .home-social-container{
        margin-top: 20px;
        width: 120%;
        justify-content: space-between;
        display: flex;
    }

    .story-container{
        height: auto;
        /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
        background-repeat: no-repeat;
        background-size: cover; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        background-color: #f7eee9;
        padding-top: 70px;
    }
    .about-container{
        height: auto;
        background-color: #f7eee9;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
    }
    .team-card-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
        margin-top: 50px;
    }
    .team-card {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .foot-social-container{
        width: 50%;
        justify-content: space-between;
        display: flex;
    }
    .card-container{
        max-height: auto;
        width: 350px;
        background-color: #f7eee9;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 30px;
        border-radius: 5px;
        border: 4px solid lightgreen;
        /* box-shadow: 0 4px 8px 0 rgba(10, 209, 38, 0.2), 0 6px 20px 0 rgba(10, 209, 38, 0.19); */
    }
    .perk-card-container {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 80%;
        justify-content: space-between;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 765px) {
    .menu-container {
        display: none;
    }

    .logo-img{
        width:100%;
    }

    .logo-vert-spacer {
        height:1px;
    }

    .menu-icon{
        display: flex;
    }

    .home-container{
        height: auto;
        /*background-image: url("https://images.squarespace-cdn.com/content/v1/616d0df99d00504eedaca23b/72c3dd76-6879-41e4-86c9-79b96f799d02/grassy_plains.png");*/
        /*background-repeat: no-repeat;*/
        background-size: cover; 
        background-color: #f7eee9;
        padding-top: 70px;
    }

    .home-social-container{
        margin-top: 20px;
        width: 130%;
        justify-content: space-between;
        display: flex;
    }

    .text-1-of-2-container{
        width: 100%;
    }
    
    .image-1-of-2-container {
        width: 100%;
    }

    .story-parent-container {
        flex-direction: column;
    }

    .storyimage-1-of-2-container {
        width: 100%;
    }

    .story-left-container {
        width: 100%;
        padding: 0 24px 24px 24px;
    }

    .story-container .partners-container {
        width: 100%;
    }

    .overlay{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .story-container{
        height: auto;
        /* background-image: url("https://image.freepik.com/free-vector/nature-scene-rural-land-agriculture-grassland-abtract-silhouette-asian-farmers-working-rice-field-illustration_1150-37317.jpg");
        background-repeat: no-repeat;
        background-size: cover; */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        background-color: #f7eee9;
        padding-top: 70px;
    }
    .about-container{
        height: auto;
        background-color: #f7eee9;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 70px;
    }
    .team-card-container{
        display: flex;
        flex-direction: column;
        width: 70%;
        justify-content: space-between;
        margin-top: 50px;
    }
    .team-card {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .foot-social-container{
        width: 50%;
        justify-content: space-between;
        display: flex;
    }
    .card-container{
        max-height: auto;
        width: 280px;
        border-color:lightgreen;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 30px;
        margin-bottom: 25px;
        border-radius: 5px;
        /* box-shadow: 0 4px 8px 0 rgba(10, 209, 38, 0.2), 0 6px 20px 0 rgba(10, 209, 38, 0.19); */
    }
    .perk-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 80%;
        justify-content: space-between;
        margin-top: 50px;
    }

    .roadmap-container{
        width: 100%;
    }

    .faq-box{
        width: 85%;
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        align-items: center;
        padding-top:10px ;
        padding-bottom: 10px;
        cursor: pointer;
        background-color: #f7eee9;
    }

    .answer-box{
        height: auto;
        background-color: #f7eee9;
        width: 85%;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .home-logo{
        height: 40px;
    }

    .split-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-container{
        width: 85%;
        height: 100%;
        padding: 30px;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    
    .right-container {
        width: 85%;
        height: 100%;
        padding: 30px;
    }

    .story-right-container{
        width: 85%;
        height: 100%;
        padding: 30px;
    }

    .foot-social-container{
        width: 70%;
        justify-content: space-between;
        display: flex;
    }

    .about-title{
        font-size: 28px;
        text-align: center;
        
    }
}